<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% comment %}
      Font preloading:
      1. Preconnect to font CDN for faster connection
      2. Preload only the critical font variant (base weight)
      3. Additional variants load on-demand via @font-face
    {% endcomment %}
    {% unless settings.type_primary_font.system? %}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

      {% comment %} Preload the base font variant for initial page render {% endcomment %}
      {{ settings.type_primary_font | font_url | preload_tag: as: 'font', crossorigin: 'anonymous' }}
    {% endunless %}

    {% # Comment out the the critical CSS %}
    {% comment %} {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }} {% endcomment %}
     <style>

        @font-face {
            font-family: 'TAYAmaya';
            src: url('{{ "TAYAmaya.otf" | asset_url }}') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
          }

        @font-face {
            font-family: 'TayKari';
            src: url('{{ "TayKari.otf" | asset_url }}') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
          }
     </style>
    
    {% # Use wagon CSS %}
    {{ 'master.css' | asset_url | stylesheet_tag: preload: true }}


    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
